{% extends "MyPortfolioApp/layout.html" %}

<div class="tab-content">
  {% block content%}
  <div class="mid">
    <video autoplay muted loop>
      <source
        class="embed-responsive"
        src="https://www.shutterstock.com/shutterstock/videos/26261591/preview/stock-footage-back-view-of-technical-controller-operator-working-at-his-workstation-with-multiple-displays.webm"
        type="video/mp4"
      />
    </video>
    <div class="hero text-center">
      <h2
        class="text-light display-4 font-weight-bold"
        style="font-family: Segoe Print, Cursive"
      >
        Samuel Oluwaseun Anari
      </h2>
      <p class="text-light mx-auto">
        Data Afficionado / Full Stack MERN - Python Developer.
      </p>
      <ul class="social-network social-circle">
        <li>
          <a href="#" class="icoTwitter" title="Twitter"
            ><i class="fab fa-twitter"></i
          ></a>
        </li>
        <li>
          <a href="#" class="icoLinkedin" title="Linkedin"
            ><i class="fab fa-linkedin-in"></i
          ></a>
        </li>
        <li>
          <a href="#" class="icoEmail" title="Email"
            ><i class="fa fa-envelope-open" aria-hidden="true"></i
          ></a>
        </li>
        <li>
          <a href="#" class="icoGithub" title="GitHub"
            ><i class="fab fa-github"></i
          ></a>
        </li>
        <li>
          <a href="#" class="icoWebsite" title="Website"
            ><i class="fas fa-globe"></i
          ></a>
        </li>
      </ul>
    </div>
  </div>

  {% endblock %} {% block body%}

  <!--Personal details-->
  <section id="about" class="about py-5">
    <div class="row align-items-center container my-5 mx-auto">
      <div class="text col-lg-6 col-md-6 col-12 w-50 pt-5 pd-5">
        <h6>PERSONAL DETAILS</h6>
        <h2>A Glimpse of my career</h2>
        <p>
          My dream of being a computer scientist just like my dad didn't click
          till my first Front End Development course I stumbled upon in college.
          It incorporates creativity and problem solving and enough room to
          break and modify codes.
          <br />
          As my specialty includes quickly learning new skills and programming
          languages, problem solving, responsive design (website optimization)
          and the Model View Controller (MVC) method of organizing code, I have
          Java, Python (Django, Flask), JavaScript, HTML, CSS, MongoDB, Express,
          React JS, Angular Js, Node JS, BootStrap, jQuery, SQL, PHP and many
          more.
          <br />
          Excel, Tableau, PowerBI, Qlikview, MS Access, SQL, ApacheSpark,
          Numpys, Sci-Kit, Pandas and many more...
        </p>
        <a href="{% url 'about'%}">About me</a>
      </div>
      <div class="img col-lg-6 col-md-6 col-12 w-50">
        <img
          class="img-fluid"
          src="https://www.pngkit.com/png/full/53-535028_african-american-male-character-with-a-black-hair.png"
          alt="about"
        />
      </div>
    </div>
  </section>

  {% endblock %}
</div>
